<h1>Register New User</h1>



<form [formGroup]="register"(ngSubmit)="collection">
    <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" class="form-control" formControlName="name"  placeholder="Enter name">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>